.one {
  background-color: #869bc4;
  justify-content: center;
}

.two {
  background-color: #c486c4;
  justify-content: center;
}

.three {
  background-color: #88c486;
  justify-content: center;
}

.content {
  max-width: 450px; 
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  padding: 30px; 
}

